# ::::::::::::::::::::::::::::::::::::::::::::::::::::::
# :: MS Pastry Default Configuration
# ::                13.37 27/05/2007
# ::::::::::::::::::::::::::::::::::::::::::::::::::::::

# ::::: GLOBAL ::::::

SIZE 1024
K 5

MINDELAY  50
MAXDELAY  90

CYCLE 10500
TRAFFIC_STEP 100
OBSERVER_STEP 200
TURBULENCE_STEP 400

# ::::: Pht :::::

D 12

# ::::: network :::::
random.seed 24680

simulation.experiments 1

simulation.endtime 1000*65*50


network.size SIZE


# ::::: LAYERS :::::
protocol.0link peersim.core.IdleProtocol

protocol.1uniftr peersim.transport.UniformRandomTransport
protocol.1uniftr.mindelay MINDELAY
protocol.1uniftr.maxdelay MAXDELAY


protocol.2unreltr peersim.transport.UnreliableTransport
protocol.2unreltr.drop 0
protocol.2unreltr.transport 1uniftr

protocol.3mspastry peersim.pastry.MSPastryProtocol
#protocol.3mspastry.linkable 0link
protocol.3mspastry.transport 2unreltr
protocol.3mspastry.B 2
protocol.3mspastry.L 32

protocol.4DhtInterface peersim.pht.dht.MSPastry
protocol.4DhtInterface.mspid 3mspastry

protocol.5pht peersim.pht.PhtProtocol
protocol.5pht.D D
protocol.5pht.B 2
protocol.5pht.dht 4DhtInterface
protocol.5pht.log on
protocol.5pht.rq par

protocol.6listener peersim.pht.dht.MSPastryListener
protocol.6listener.phtid 5pht


# ::::: INITIALIZERS :::::
init.0randlink peersim.dynamics.WireKOut
init.0randlink.k K
init.0randlink.protocol 0link


init.1uniqueNodeID peersim.pastry.CustomDistribution
init.1uniqueNodeID.protocol 3mspastry

init.2statebuilder peersim.pastry.StateBuilder
init.2statebuilder.protocol 3mspastry
init.2statebuilder.transport 2unreltr

init.3mspinit peersim.pht.dht.MSPInit
init.3mspinit.mspid 3mspastry
init.3mspinit.dhtid 4DhtInterface
init.3mspinit.phtid 5pht
init.3mspinit.lstid 6listener


# ::::: CONTROLS :::::
#control.0traffic peersim.pastry.TrafficGenerator
#control.0traffic.protocol 3mspastry
#control.0traffic.step TRAFFIC_STEP
#control.0traffic peersim.pht.testsTmp.testPastry
#control.0traffic.protocol 3mspastry
#control.0traffic.step TRAFFIC_STEP

#control.2turbolenceAdd peersim.pastry.Turbulence
#control.2turbolenceAdd.protocol 3mspastry
#control.2turbolenceAdd.transport 2unreltr
#control.2turbolenceAdd.step TURBULENCE_STEP

control.3client peersim.pht.dht.MSPClient
control.3client.phtid 5pht
control.3client.max 4096
control.3client.step 1
control.3client.len D


# ::::: OBSERVER :::::
#control.3 peersim.pastry.MSPastryObserver
#control.3.protocol 3mspastry
#control.3.step OBSERVER_STEP

